[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cli = {file = "cli", editable = true}
tiktoken-cli = {file = "cli", editable = true}

[requires]
python_version = "3.12.4"

[scripts]
t = "python -m cli.cli"
