[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiktoken-cli = {editable = true, path = "./cli"}

[requires]
python_version = "3.12.4"

[scripts]
t = "python -m cli.cli"
