[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiktoken-cli = {editable = true, path = "."}
typer = "*"
rich = "*"
pytest-asyncio = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-timeout = "*"
pytest-xdist = "*"

[requires]
python_version = "3.12.4"

[scripts]
t = "python -m cli.cli"
test = "pytest"

[pipenv]
allow_prereleases = false
