[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
python-dotenv = "*"
rich = "*"
tiktoken-cli = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
